html {
     background: url("img/design-space-paper-textured-background_53876-32423.avif") no-repeat
     center fixed;
     background-size: cover;
    }
    
    body {
 background-color: rgba(212, 167, 167, 0.877);
     border-radius: 15px;
     width: 600px;
     margin: 25px auto;
    padding: 25px 150px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .center {
     text-align: center;
    }
    
    a {
     color: navy;
    }
    
    a:hover {
     font-weight: bold;
    }